# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
.env

# Logs
*.log
etl/logs/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Node (if used)
node_modules/

# Secrets
*.pem
*.key
